NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_cmljaC13cmVuLTk2LmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_Pf9bmxZA4FwydRoTzY5Jsp0ChJNyDUM4GDTeHb3u4H
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/discover
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/discover
NEXT_PUBLIC_API_URL=http://localhost:3001/api
